.container#article-show{data: {article_id: @article.id}}

    %header.header
        = link_to '←', root_path
        Comment
        %div
            　
    .comments-container
  

    .btn-secondary.show-comment-form
        コメントを追加
    .comment-text-area.hidden
        = text_area_tag :comment_content, '', class: 'sm'
        .btn-secondary.add-comment-button
            コメントを追加
  

= javascript_pack_tag 'comment'