.container#article-show{data: {article_id: @article.id}}

    %header.header
        .header_item.header_item_left
            = link_to '←', root_path
        .header_item
            Comment
        .header_item
    .comments-container
  

    .btn-secondary.show-comment-form.margin_top
        + New Comment
    .comment-text-area.hidden.margin_top
        = text_area_tag :comment_content, '', class: 'sm form_area'
        .btn-secondary.add-comment-button
            + New Comment
  

= javascript_pack_tag 'comment'