.count
    .count_post
        = user.articles.count
        .count_label
            Post
    .count_follower
        45
        .count_label
            Follower
    .count_following
        78
        .count_label
            Following