.count
    .count_post
        = user.articles.count
        .count_label
            Post
    .count_follower
        %p#follower_count{ data: {follower_count: user.follower_relationships.count}}
            = user.follower_relationships.count 
        .count_label
            Follower
    .count_following
        = user.following_relationships.count
        .count_label
            Following