@import 'header';
@import 'article';
@import 'comment';
@import 'login';
@import 'button';
@import 'profile';



html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100%;
    font-size: 1em;
    color: $text-base-color;
  }
  
  a {
    text-decoration: none;
    color: $text-base-color;
  }
  
  .container {
    padding: 16px 16px;
    width: 100%;
  }
  
  textarea {
    width: 100%;
}




.user-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.avatar-image {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 999px;
    box-shadow: 0 0 0 8px #fff, 0 0 0 12px grey;


    &-mini {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 4px;
    }

}

.hidden {
    display: none;
}

.avatar-wrapper {
    text-align: center;
}

.alert {
  width: 100%;
  background-color: whitesmoke;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  position: absolute;
  z-index: 999;

  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  animation-duration: 5s;

}


@-webkit-keyframes fade-in-out {
0% {
  visibility: visible;
  opacity: 1;
}

50% {
  visibility: visible;
  opacity: 1;
}

100% {
  visibility: hidden;
  opacity: 0;
}
}

@keyframes fade-in-out {
0% {
  visibility: visible;
  opacity: 1;
}

50% {
  visibility: visible;
  opacity: 1;
}

100% {
  visibility: hidden;
  opacity: 0;
}
}