.article {
    width: 100%;
    color: #616161;
    margin-bottom: 100px;

    &-image{
        width: 100%;
    }

    &_heart {
        display: inline;
    }

    &_user_info {
        display: flex;
        margin-bottom: 10px;
        font-weight: bold;

        p {
            color: #9e9e9e;
            font-weight: normal;
        }
        
    }

}

.new_article_button {
    
    width: 100%;
    height: 30px;
    background-color:whitesmoke;
    border-radius: 5px;
    padding: 3 20;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;

    a {
        color:black;
        display: block;
    }
}


.hidden {
    display: none;
}


.action_buttons {
    display: flex;
    margin-left: 5px;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 3px;

    img {
        height: 16px;
        width: 16px;
        padding: 0;
        margin: 0;
    }
    

    &_item {
        margin-right: 10px;
    }

}


textarea::placeholder { 
    color:#9e9e9e;
}

.btn-primary {
    text-decoration: none;
    background-color: #fff;
    border: none;
    color: #BDBDBD;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.user_info {
    line-height: 48px;
}

.file_field {
    display: block;
    background-color: #fff;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #E0E0E0;
    padding-top: 2px;
    text-decoration: none;
    text-align: center;
}