.article {
    width: 100%;
    color: green;
    margin-bottom: 40px;

    &-image{
        width: 100%;
    }

    &_heart {
        display: inline;
    }

    &_comment {
        display: flex;
        margin-bottom: 10px;
        
    }

}


.hidden {
    display: none;
}