.button {
    border: none;
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.submit_button {
    background-color: #FFE600;
    height: 48px;
    margin-top: 40px;

}