@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    padding: $header-padding-y 5px;
    font-weight: bold;
    line-height: 24px;

    &_avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
    }
    
    &_item {
        width: 100px;
        text-align: center;

        &_left {
            text-align: left;
        }

        &_right {
            text-align: right;
        }


    }

}

.user-name {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
}
