.container
    %header.header
        = link_to '←', root_path
        Profile
        %div
            　        
    .user-name
        = @user.user_name



    .avatar-wrapper
        = image_tag @user.avatar_image, class: 'avatar-image', class: "avatar-image center-position"


    = render 'commons/profile', user: @user